/2022/*
/dist/*
/dist0/*
/dist2/*
/dist3/*
/FileManager/*
/fm/*
/pa/*
/release/*
1.0.0.zip
fm.spec
Pipfile
README.txt
icon.ico
addhkey.spec
addhkey2.py
addhkey.exe
build/*
help/help/
help/.filemanager/
*test*
*副本*